## 0.1 Intent

##### In the following notebook, we will be performing analysis on data from the Century21 website on local houses for sale in the charlotte area.We obtain this data from the following link. In conclusion, we will be able to determine an ideal area for home buyers to target

##### https://www.century21.com/real-estate/charlotte-nc/LCNCCHARLOTTE/

## 0.2 Import the dataset and preview

##### We begin by importing the necessary functions that will help up scrape data from the Century21 Website

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas

##### We compare our results of the entries to the website to ensure accuracy of data. We find that this function works perfectly. 
##### This website hosts an infinite scrolling feature, which is the reason a 'while' loop was necessary to obtain each data entry.

In [12]:
l=[]

page_count = 0
while page_count < 2401:
    r = requests.get("https://www.century21.com/propsearch-async?lid=CNCCHARLOTTE&t=0&s=  "+str(page_count)+"   &r=20&searchKey=66d390e3-1d6c-4ee1-9dab-0d8526fec772&p=2&o=virtualopenhouses-asc", headers={'User-agent': 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:61.0) Gecko/20100101 Firefox/61.0'})
    c=r.content


    soup = BeautifulSoup(c,'html.parser')

    all=soup.find_all("div",{'class':'infinite-item'})

    for item in all:
        d={}
        try:
            d["Price"]=item.find("a",{'class':'listing-price'}).text.replace('\n','').strip()
            d["Address"]=item.find('div',{'class':'property-address'}).text.strip()
            d["City"]=item.find('div',{'class':'property-city'}).text.strip()
            d["Beds"]=item.find('div',{'class':'property-beds'}).text.strip().replace("beds","").replace("bed","")
            d["Baths"]=item.find('div',{'class':'property-baths'}).text.strip().replace("baths","").replace("bath","")
            d["Half Baths"]=item.find('div',{'class':'property-half-baths'}).text.strip().replace("half baths","").replace("half bath","")
            d["Sqft"]=item.find('div',{'class':'property-sqft'}).text.strip().replace("sq. ft","")
        except:
            pass
        l.append(d)

    page_count += 20
        
        
df=pandas.DataFrame(l)

df.head()

,Price,Address,City,Beds,Baths,Half Baths,Sqft
0,"$989,000",5311 Macandrew Drive,Charlotte NC 28226,5,4,1,"4,487"
1,"$925,000",2236 Chesterfield Avenue,Charlotte NC 28205,5,3,NaN,NaN
2,"$799,000",251 W Kingston Avenue,Charlotte NC 28203,4,4,NaN,NaN
3,"$794,900",2433 Hassell Place,Charlotte NC 28209,3,2,NaN,NaN
4,"$775,000",2910 Hanson Drive,Charlotte NC 28207,5,3,1,"2,847"

## 0.3 Explaining the data

##### The dataset contains 2400+ entries, but only the first 5 are shown in the header.
##### We pulled information about the Price, Address, City, Number of beds, Number of baths, Half-Baths, and total Sqft of the house.
##### We will now collect this data and export it into a csv file so that we can import the data into MySQLWorkbench to filter the data and perform further analysis

In [76]:
df.to_csv("RealEstateScrap.csv")